@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(
    to right top,
    #000,
    #000,
    #c993f1,
    #fda955,
    #fee53a,
    #7fcffe,
    #ff6060,
    #c993f1,
    #fda955,
    #fee53a,
    #7fcffe
  );
}
.banner {
  display: grid;
  grid-template-columns: 3fr 4fr;
}
.banner .box {
  position: relative;
  height: 100vh;
}
.banner .box:last-child {
  background: #ff0;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  position: relative;
  font-size: 1.8em;
  color: #111;
  font-weight: 700;
  text-decoration: none;
}

.red {
  color: #ff6060;
  font-size: 2.5rem;
  font-weight: 800;
  text-decoration: none;
}
.orange {
  color: #fda955;
  font-size: 2.5rem;
  font-weight: 800;
  text-decoration: none;
}

.violet {
  color: violet;
  font-size: 2.5rem;
  font-weight: 800;
  text-decoration: none;
}

.green {
  color: greenyellow;
  font-size: 2.5rem;
  font-weight: 800;
  text-decoration: none;
}

.yellow {
  color: yellow;
  font-size: 2.5rem;
  font-weight: 800;
  text-decoration: none;
}

.blue {
  color: blue;
  font-size: 2.5rem;
  font-weight: 800;
  text-decoration: none;
}

header ul {
  display: flex;
}
header ul li {
  list-style: none;
  margin-left: 30px;
}
header ul li a {
  text-decoration: none;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 1px;
}
header ul li a:hover {
  color: #333;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.content h2 {
  font-size: 4em;
  color: #333;
}
.content p {
  font-size: 1.4em;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.8em;
}
.btn {
  display: inline-block;
  font-size: 1.1em;
  margin-top: 20px;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  border: 2px solid #333;
  border-radius: 40px;
  padding: 10px 30px;
  letter-spacing: 1px;
  transition: 0.5s;
}
.btn:hover {
  background: #7fcffe;
  color: #fff;
  letter-spacing: 2px;
}
.sci {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 60px;
}
.sci h3 {
  font-weight: 600;
  color: #121212;
  letter-spacing: 1px;
}
.sci li {
  list-style: none;
  margin-left: 20px;
}
.sci li img {
  max-width: 30px;
}
.images {
  display: flex;
  flex-wrap: wrap;
}
.images .imgBx {
  position: relative;
  width: 50%;
  height: 50vh;
  background: #0f0;
}
.images .imgBx:nth-child(2) {
  background: #00f;
}
.images .imgBx:nth-child(3) {
  width: 100%;
  background: #ff0;
}
.images .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*  now, make it responsive */
@media (max-width: 991px) {
  .banner {
    grid-template-columns: 1fr;
  }
  header {
    padding: 20px 40px;
  }
  .content {
    padding: 40px;
  }
  .sci {
    right: 40px;
  }
  .banner .box.content {
    height: 70vh;
  }
  .banner .box.images {
    height: auto;
  }
}
@media (max-width: 600px) {
  .contentBox h2 {
    font-size: 3rem;
    margin-top: 5rem;
  }

  .contentBox span {
    font-size: 3rem;
  }
  .images .imgBx {
    width: 100%;
    height: 40vh;
  }

  .sci {
    font-weight: 300;
    right: 10px;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    font-size: 0.7rem;
    padding-left: 5rem;
  }
  .content p {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.8em;
  }

  .btn {
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid #333;
    padding: 5px 15px;
    letter-spacing: 0.5px;
    transition: 0.5s;
  }
}
